body {
  font-family: "Segoe UI", sans-serif;
}

.card {
  transition: 0.2s ease;
}

.card:hover {
  transform: translateY(-3px);
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-bottom: 1px solid #f1f1f1;
}

.transaction-income {
  border-left: 5px solid #198754;
}

.transaction-expense {
  border-left: 5px solid #dc3545;
}

.delete-btn {
  background: none;
  border: none;
  color: #dc3545;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.delete-btn:hover {
  color: #a71d2a;
}