body {
    background-color: #f8f9fa;
}

/* Hero */
.hero-img {
    height: 80vh;
    object-fit: cover;
}

/* Vehicle Hover Effect */
.vehicle-card {
    transition: 0.3s ease;
}

.vehicle-card:hover {
    transform: translateY(-10px);
}

/* Shop Hover */
.shop-card {
    background-color: #444;
    transition: 0.3s ease;
}

.shop-card:hover {
    background-color: orange;
    transform: scale(1.05);
}

/* Button Hover */
.btn-primary:hover {
    background-color: black;
    border-color: black;
}
